@{
    ViewData["Title"] = "Recipology Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Recipology.ViewModels

@model LoginViewModel
<div class="login-form">
    <h2>Log in to Recipology</h2>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)

        <input type="submit" value="Log in" class="btn btn-default" />
    }
</div>